<!doctype html>
<html lang="en" data-ng-app="test">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title data-ng-bind="::pageTitle()">test</title>

  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/vendor/angular-material/angular-material.css">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body md-no-ink>
  <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>

  <script src="/assets/js/base.js"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>